#df{
    background-color: red;
    color: greenyellow;
    font-weight: bold;
    font-size: 30px;
}
label{
    margin-left: 60px;
}
button{
    margin-left: 60px;
}
.l2{
    margin-left: 90px;
}
.lbls{
    margin-left: 8px;
}



